@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin:0;
    padding: 0;
    font-family: Parkinsans;
}
body{
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: #bbc3d3;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.headingContainer{
    background-color: #7789AB;
    padding: 5px;
    align-self: stretch;
}

h1{
    color: black; /* Text color */
  text-shadow: 
    1px 1px 0  #C7f022, /* Right bottom shadow */
    -1px -1px 0  #C7f022, /* Left top shadow */
    -1px 1px 0  #C7f022, /* Left bottom shadow */
    1px -1px 0  #C7f022; /* Right top shadow */;
}

.game-board{
    margin-top: 70px;
    width: 500px;
    height: 500px;
    background-color: #7789AB;
    box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.75);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

.grid-item{
    border: solid black 1px;
}

.grid-item:hover{
    transform: scale(1.05); 
    transition: transform 0.3s ease; 
    border:solid #C7f022 4px;
    z-index: 1;
}
.grid-item:not(:hover){
    transform: scale(1); 
    transition: transform 0.3s ease; 
}